.slides {
	width: 800px;
}

body {
	background-color: transparent !important;
}

/************* СЛАЙДЕР *************/
.slides__item {
	position: relative;
}

.slides__item:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .6);
}

.slides__img {
	width: 100%;
}

.slides__description {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 3;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
/************* /СЛАЙДЕР ************/

/************* РАСПИСАНИЕ *************/
.schedules__day {
	margin-bottom: 40px;
}
/************* /РАСПИСАНИЕ ************/

input, textarea, select {
	width: 100%;
	margin: 10px 0 !important;
}

textarea, .cke_contents {
	min-height: 400px;
}

.list__items_hor {
	justify-content: space-around;
	flex-wrap: wrap;
}

.list__items_hor .list__item {
	width: 22%;
	margin-bottom: 30px;
}

.small-img {
	text-align: center;
}

.small-img img {
	width: 150px;
}